:root {
    --text-primary: #24292F;


    --radius-md: 6px;

    --border-primary: #E4E4E7;

    --color-secondary: #ED7846;


/*    font-family: Clash Grotesk;
    font-size: 24px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;*/

}
